:host {
    display: block;
    background-image: url('https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 99vh;
    margin-top: 0;
    padding: 0;
  }
  
  .task {
    text-align: center;
    padding: 50px; 
  }
  
  .task h1 {
    color: white;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .search-input {
    width: 400px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 10px;
  }
  
  .search-button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(185, 173, 159);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
  